footer {
  background-color: $footerBackColor;
  display: flex;
  padding: 20px;

  a,
  i,
  p,
  span,
  h2 {
    color: #bdc3c7;
  }

  h2 {
    position: relative;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 22px;

    &::before {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 60%;
      height: 3px;
      background-color: $titleColor;
    }
  }

  .ftContainer {
    padding: 0 20px;

    &:nth-child(1) {
      flex: 4;

      ul {
        display: flex;
        justify-content: center;
        margin: 15px 0;

        li {
          margin-right: 15px;
          padding: 8px 15px;
          cursor: pointer;
          border-radius: 6px;
          background: $titleColor;

          i {
            font-size: 18px;
          }
        }
      }
    }

    &:nth-child(2) {
      flex: 3;

      p {
        margin-bottom: 10px;
      }
    }

    &:nth-child(3) {
      flex: 2;
    }
  }
}