section#banner {
    position: relative;

    nav {
        width: 100%;
        @include dFlex(center, space-between);
        padding: 20px 40px;
        z-index: 5;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .4);

        &.active {
            background-color: #fff;
            box-shadow: 0 5px 20px rgba(0, 0, 0, .4);
        }

        ul {
            display: flex;
            align-items: center;

            li {
                margin: 0 15px;

                i {
                    font-size: 20px;
                }

                img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                &:nth-last-child(1) {
                    cursor: pointer;
                }
            }
        }

        form {
            border: 1px solid $textColor;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 300px;
            height: 40px;
            padding: 10px;
            border-radius: 20px;

            input {
                width: 100%;
                border: none;
                outline: none;
            }

            button {
                border: none;
                outline: none;
                background-color: transparent;
            }
        }
    }

    .notification__container {
        position: absolute;
        top: 110%;
        right: 1%;
        height: 500px;
        overflow: auto;
        background-color: #2d3436;
        z-index: 999;
        padding: 10px 0;
        border-radius: 8px;
        opacity: 0;
        visibility: hidden;
        transition: all .4s;

        &::-webkit-scrollbar {
            display: none;
        }

        &.show {
            top: 100%;
            opacity: 1;
            visibility: visible;
        }

        ul {
            li {
                display: flex;
                align-items: center;
                font-size: 15px;
                border-bottom: 1px solid #cccccc;
                padding: 15px;

                &:nth-last-child(1) {
                    border: none;
                }

                img {
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 15px;
                }

                .notification__content,
                .notification__date {
                    color: $profilBackColor;
                }

                .notification__date {
                    font-size: 13px;
                    margin-top: 5px;
                    font-weight: bold;
                }
            }
        }
    }

    .profil__details {
        position: absolute;
        top: 110%;
        right: 1%;
        background-color: $defaultTextColor;
        z-index: 9999;
        width: 200px;
        height: 150px;
        box-shadow: 0 0 20px rgba(0, 0, 0, .4);
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transition: all .4s ease-in-out;
        margin-top: 10px;

        &.show {
            top: 100%;
            opacity: 1;
            visibility: visible;
        }

        ul {
            width: 100%;
            padding: 15px;

            li {
                margin-bottom: 15px;

                i {
                    margin-right: 10px;
                }
            }
        }
    }
}

.list__box {
    min-height: 70vh;
    margin: 10px 0;

    .mr__auto {
        width: 50%;
        height: 500px;
        overflow: auto;
        margin: 0 auto;
        background-color: #2d3436;

        &::-webkit-scrollbar {
            display: none;
        }

        ul {
            li {
                display: flex;
                padding: 10px;
                align-items: center;
                border-bottom: 1px solid #ccc;

                &:nth-last-child(1) {
                    border: none;
                }

                a,
                div {
                    color: $profilBackColor;
                }

                img {
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 15px;
                }
            }
        }
    }
}

.pro__details {
    width: 60%;
    margin: 40px auto;
    display: flex;

    .nth1 {
        margin-right: 20px;

        img {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .nth2 {
        padding: 0 20px;

        button {
            margin-left: 15px;
            border: none;
            outline: none;
            padding: 10px 15px;
            border-radius: 8px;
            cursor: pointer;
            background-color: $titleColor;
            color: $defaultTextColor;
        }

        &__list {
            margin-top: 50px;

            ul {
                display: flex;

                li {
                    margin: 0 20px;

                    &:nth-child(1) {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.flowBox {
    min-height: 70vh;

    &__container {
        width: 60%;
        margin: 0 auto;

        .staticlist,
        .notelist {
            display: none;
        }

        .readlist {
            background-color: #2d3436;

            .second,
            .third {
                display: none;
            }

            .aside3 {
                background-color: #fff;
            }

            .card {
                width: 80%;
                border-radius: 10px;
                padding: 15px;
                margin: 20px auto;
                border-bottom: 1px solid #ccc;

                &__header {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                }

                img {
                    margin-right: 15px;
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                h3,
                div,
                b,
                p {
                    color: $bodyBackColor;
                }

                &:nth-last-child(1) {
                    border: none;
                }
            }
        }
    }
}
