.searchBoxList {
   background-color: #d4d4d4;
position: absolute;
width: 100%;
height: 20vh;
top:100%;
left:1vh;
z-index: 20;
border: 2px solid #d4d4d4;
  border-radius: 15px;
  margin-top: 1%;
  
  display: none;
}