@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
section.slideSwip .swiper-slide .slideContent a {
  position: relative;
  background-color: #c0392b;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 20px;
}

section.slideSwip .swiper-slide .slideContent a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-clip-path: circle(0 at center center);
          clip-path: circle(0 at center center);
}

section.slideSwip .swiper-slide .slideContent a:hover {
  color: #ffffff;
}

section.slideSwip .swiper-slide .slideContent a:hover::before {
  -webkit-clip-path: circle(180px);
          clip-path: circle(180px);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #2c3e50;
}

::-moz-selection {
  background-color: #ff6b6b;
  color: #ffffff;
}

::selection {
  background-color: #ff6b6b;
  color: #ffffff;
}

i {
  cursor: pointer;
}

aside {
  border-bottom: 2px solid #ccc;
}

aside.aside2 {
  width: 50%;
  margin: 0 auto;
}

aside ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside ul li {
  padding: 15px;
  width: 33.3%;
  cursor: pointer;
  text-align: center;
}

aside .underline {
  position: relative;
  width: 33.3%;
  height: 2px;
  background-color: #2c3e50;
  -webkit-transition: all 0.5s cubic-bezier(0.7, -0.08, 0.48, 1.21);
  transition: all 0.5s cubic-bezier(0.7, -0.08, 0.48, 1.21);
}

aside .underline.active {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

aside .underline::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #2c3e50;
}

/************** HEADER CSS **************/
section#banner {
  position: relative;
}

section#banner nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
  z-index: 5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

section#banner nav.active {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

section#banner nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#banner nav ul li {
  margin: 0 15px;
}

section#banner nav ul li i {
  font-size: 20px;
}

section#banner nav ul li img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

section#banner nav ul li:nth-last-child(1) {
  cursor: pointer;
}

section#banner nav form {
  border: 1px solid #2c3e50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  position: relative;
}

section#banner nav form input {
  width: 100%;
  border: none;
  outline: none;
}

section#banner nav form button {
  border: none;
  outline: none;
  background-color: transparent;
}

section#banner .notification__container {
  position: absolute;
  top: 110%;
  right: 1%;
  height: 500px;
  overflow: auto;
  background-color: #2d3436;
  z-index: 999;
  padding: 10px 0;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s;
  transition: all .4s;
}

section#banner .notification__container::-webkit-scrollbar {
  display: none;
}

section#banner .notification__container.show {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

section#banner .notification__container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  border-bottom: 1px solid #cccccc;
  padding: 15px;
}

section#banner .notification__container ul li:nth-last-child(1) {
  border: none;
}

section#banner .notification__container ul li img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
}

section#banner .notification__container ul li .notification__content,
section#banner .notification__container ul li .notification__date {
  color: #d4d4d4;
}

section#banner .notification__container ul li .notification__date {
  font-size: 13px;
  margin-top: 5px;
  font-weight: bold;
}

section#banner .profil__details {
  position: absolute;
  top: 110%;
  right: 1%;
  background-color: #ffffff;
  z-index: 9999;
  width: 200px;
  height: 150px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  margin-top: 10px;
}

section#banner .profil__details.show {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

section#banner .profil__details ul {
  width: 100%;
  padding: 15px;
}

section#banner .profil__details ul li {
  margin-bottom: 15px;
}

section#banner .profil__details ul li i {
  margin-right: 10px;
}

.list__box {
  min-height: 70vh;
  margin: 10px 0;
}

.list__box .mr__auto {
  width: 50%;
  height: 500px;
  overflow: auto;
  margin: 0 auto;
  background-color: #2d3436;
}

.list__box .mr__auto::-webkit-scrollbar {
  display: none;
}

.list__box .mr__auto ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ccc;
}

.list__box .mr__auto ul li:nth-last-child(1) {
  border: none;
}

.list__box .mr__auto ul li a,
.list__box .mr__auto ul li div {
  color: #d4d4d4;
}

.list__box .mr__auto ul li img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
}

.pro__details {
  width: 60%;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pro__details .nth1 {
  margin-right: 20px;
}

.pro__details .nth1 img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pro__details .nth2 {
  padding: 0 20px;
}

.pro__details .nth2 button {
  margin-left: 15px;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #c0392b;
  color: #ffffff;
}

.pro__details .nth2__list {
  margin-top: 50px;
}

.pro__details .nth2__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pro__details .nth2__list ul li {
  margin: 0 20px;
}

.pro__details .nth2__list ul li:nth-child(1) {
  margin: 0;
}

.flowBox {
  min-height: 70vh;
}

.flowBox__container {
  width: 60%;
  margin: 0 auto;
}

.flowBox__container .staticlist,
.flowBox__container .notelist {
  display: none;
}

.flowBox__container .readlist {
  background-color: #2d3436;
}

.flowBox__container .readlist .second,
.flowBox__container .readlist .third {
  display: none;
}

.flowBox__container .readlist .aside3 {
  background-color: #fff;
}

.flowBox__container .readlist .card {
  width: 80%;
  border-radius: 10px;
  padding: 15px;
  margin: 20px auto;
  border-bottom: 1px solid #ccc;
}

.flowBox__container .readlist .card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.flowBox__container .readlist .card img {
  margin-right: 15px;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.flowBox__container .readlist .card h3,
.flowBox__container .readlist .card div,
.flowBox__container .readlist .card b,
.flowBox__container .readlist .card p {
  color: #d4d4d4;
}

.flowBox__container .readlist .card:nth-last-child(1) {
  border: none;
}

/************** SEARCHBOX CSS **************/
.searchBoxList {
  background-color: #d4d4d4;
  position: absolute;
  width: 100%;
  height: 20vh;
  top: 100%;
  left: 1vh;
  z-index: 20;
  border: 2px solid #d4d4d4;
  border-radius: 15px;
  margin-top: 1%;
  display: none;
}

/************** SWİPER SlİDER CSS **************/
section.slideSwip .swiper-container {
  width: 85%;
  padding: 20px 0;
}

section.slideSwip .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px;
  height: 400px;
  border-radius: 20px;
  background-color: #2c3e50;
  cursor: default;
}

section.slideSwip .swiper-slide:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

section.slideSwip .swiper-slide .imgBox {
  overflow: hidden;
}

section.slideSwip .swiper-slide .imgBox img {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

section.slideSwip .swiper-slide .slideContent {
  padding: 15px;
  height: 180px;
}

section.slideSwip .swiper-slide .slideContent h2,
section.slideSwip .swiper-slide .slideContent h3,
section.slideSwip .swiper-slide .slideContent a {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 10px;
}

section.slideSwip .swiper-slide .slideContent a {
  display: inline-block;
  margin: 5px 0;
}

header {
  width: 85%;
  margin: 30px auto;
  text-align: center;
}

header .slideTitle {
  position: relative;
  font-weight: 500;
  font-size: 25px;
  display: inline-block;
}

header .slideTitle::before {
  content: '';
  position: absolute;
  bottom: -10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40%;
  height: 3px;
  background-color: #c0392b;
}

/************** PROFİLE CSS **************/
section#content {
  padding: 10px 70px;
  background-color: #d4d4d4;
}

section#content div#a {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#content div#a .profileCard,
section#content div#a .userAddBook {
  height: 400px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

section#content div#a .profileCard {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  position: relative;
  text-align: right;
  color: #2c3e50;
}

section#content div#a .profileCard .cardTop {
  margin-bottom: 20px;
  font-size: 20px;
}

section#content div#a .profileCard .cardTop i {
  cursor: pointer;
}

section#content div#a .profileCard .cardTop .scBox {
  position: absolute;
  top: 15px;
  right: 30px;
}

section#content div#a .profileCard .cardTop .scBox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#content div#a .profileCard .cardTop .scBox ul li {
  margin: 0 15px;
  -webkit-transform: translateY(30px) rotate(90deg);
          transform: translateY(30px) rotate(90deg);
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transition-delay: calc(0.1s * var(--i));
          transition-delay: calc(0.1s * var(--i));
}

section#content div#a .profileCard .cardTop .scBox ul li.active {
  opacity: 1;
  -webkit-transform: translateY(0) rotate(0);
          transform: translateY(0) rotate(0);
}

section#content div#a .profileCard .cardTop .scBox ul li a {
  color: #2c3e50;
}

section#content div#a .profileCard .cardTop .scBox ul li a i {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

section#content div#a .profileCard .cardTop .scBox ul li a i:hover {
  -webkit-transform: rotate(360deg) scale(0.9);
          transform: rotate(360deg) scale(0.9);
}

section#content div#a .profileCard .cardBody {
  text-align: center;
}

section#content div#a .profileCard .cardBody .cardImg {
  position: relative;
  margin: 20px auto;
  width: 120px;
  height: 120px;
}

section#content div#a .profileCard .cardBody .cardImg img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

section#content div#a .profileCard .cardBody .cardImg .showDetails {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 50%;
  width: 120px;
  cursor: pointer;
  height: 120px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

section#content div#a .profileCard .cardBody .cardImg input {
  display: none;
}

section#content div#a .profileCard .cardBody h2,
section#content div#a .profileCard .cardBody h3 {
  margin-bottom: 15px;
}

section#content div#a .userAddBook {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  margin-left: 20px;
}

section#content div#a .userAddBook input {
  width: 100%;
}

section#content div#a .userAddBook input,
section#content div#a .userAddBook button {
  border: none;
  outline: none;
  padding: 10px;
}

section#content div#a .userAddBook .addInput {
  height: 100%;
}

section#content div#a .userAddBook .addInput div#b {
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

section#content div#a .userAddBook .addInput div#b button {
  background-color: #ff6b6b;
  cursor: pointer;
  pointer-events: none;
  opacity: 0.7;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

section#content div#a .userAddBook .addInput div#b button.active {
  pointer-events: auto;
  opacity: 1;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}

section#content div#a .userAddBook .addInput div#b button i {
  color: #ffffff;
}

section#content div#a .userAddBook .addInput div#c {
  position: relative;
  height: calc(100% - 50px);
}

section#content div#a .userAddBook .addInput div#c .bookList {
  position: absolute;
  top: 0;
  left: 0;
  background: #2C3A47;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: none;
  border-radius: 10px;
}

section#content div#a .userAddBook .addInput div#c .bookList a,
section#content div#a .userAddBook .addInput div#c .bookList span,
section#content div#a .userAddBook .addInput div#c .bookList li {
  color: #ffffff;
}

section#content div#a .userAddBook .addInput div#c .bookList .error {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  display: none;
}

section#content div#a .userAddBook .addInput div#c .bookList ul {
  height: 100%;
}

section#content div#a .userAddBook .addInput div#c .bookList ul li {
  padding: 15px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

section#content div#a .userAddBook .addInput div#c .bookList ul li:hover, section#content div#a .userAddBook .addInput div#c .bookList ul li.active {
  background-color: #222f3e;
}

section#content div#a .userAddBook .addInput div#c input[type="date"],
section#content div#a .userAddBook .addInput div#c input[type="number"] {
  border: 1px solid #ccc;
  margin: 10px 0;
  display: none;
}

section#content div#a .userAddBook .addInput div#c input[type="date"].active,
section#content div#a .userAddBook .addInput div#c input[type="number"].active {
  border: 2px solid #c0392b;
}

section#content div#a .userAddBook .addInput div#c p {
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 10px 0;
}

section#content div#a .userAddBook .addInput div#c p label {
  padding: 10px;
  display: inline-block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#content div#a .userAddBook .addInput div#c p label input {
  display: none;
}

section#content div#a .userAddBook .addInput div#c p label input[type="radio"]:checked ~ span::before {
  opacity: 1;
}

section#content div#a .userAddBook .addInput div#c p label span {
  height: 20px;
  width: 20px;
  border: 2px solid #ff6b6b;
  border-radius: 50%;
  display: block;
  margin-right: 10px;
  position: relative;
}

section#content div#a .userAddBook .addInput div#c p label span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff6b6b;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

section#content .userBox {
  width: 75%;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: #2c3e50;
  margin: 0 auto;
}

section#content .userBox .likes,
section#content .userBox .notes,
section#content .userBox .toBeRead,
section#content .userBox .reading {
  display: none;
}

section#content .userBox article.likes h2 {
  margin-top: 15px;
  text-align: center;
}

section#content .userBox article.likes .statistics {
  width: 80%;
  padding: 15px;
  margin: 0 auto;
}

section#content .userBox article.cmtBox {
  padding: 20px;
}

section#content .userBox article.cmtBox .cardBox .card {
  width: 80%;
  border-radius: 10px;
  padding: 15px;
  background-color: #bdc3c7;
  margin: 20px auto;
}

section#content .userBox article.cmtBox .cardBox .card .cardHeader {
  border-bottom: 1px solid #2c3e50;
}

section#content .userBox article.cmtBox .cardBox .card .cardHeader h2,
section#content .userBox article.cmtBox .cardBox .card .cardHeader h3 {
  color: #000;
  font-weight: 500;
}

section#content .userBox article.cmtBox .cardBox .card .cardHeader div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

section#content .userBox article.cmtBox .cardBox .card .cardHeader img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 20px;
}

section#content .userBox article.cmtBox .cardBox .card .cardContent {
  margin-top: 10px;
  color: #000;
}

section#content .userBox article.cmtBox .cardBox .card .cardContent p,
section#content .userBox article.cmtBox .cardBox .card .cardContent span,
section#content .userBox article.cmtBox .cardBox .card .cardContent label {
  color: #000;
}

section#content .userBox article.cmtBox .cardBox .card .cardContent button,
section#content .userBox article.cmtBox .cardBox .card .cardContent input {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 6px;
}

section#content .userBox article.cmtBox .cardBox .card .cardContent button {
  padding: 10px 20px;
}

section#content .userBox article.cmtBox .cardBox .card .cardContent button {
  cursor: pointer;
  background-color: #c0392b;
  color: #ffffff;
  font-size: 16px;
}

section#content .userBox article.cmtBox .cardBox .card .cardContent input {
  width: 50%;
}

/************** LOGİN AND REGİSTER CSS **************/
section#loginRegisterPage .formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

section#loginRegisterPage .formContainer .w50 {
  width: 50%;
  height: 100%;
}

section#loginRegisterPage .formContainer .w50 button {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 17px;
  cursor: pointer;
  color: #ffffff;
  margin-top: 15px;
}

section#loginRegisterPage .formContainer .w50:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-clip-path: circle(90% at 3% 30%);
          clip-path: circle(90% at 3% 30%);
  background-color: #16a085;
}

section#loginRegisterPage .formContainer .w50:nth-child(1) h2 {
  color: #ffffff;
  font-weight: 500;
  font-size: 26px;
}

section#loginRegisterPage .formContainer .w50:nth-child(1) button {
  border: 1px solid #ffffff;
  background: transparent;
}

section#loginRegisterPage .formContainer .w50:nth-child(1) img {
  width: 500px;
  height: 500px;
}

section#loginRegisterPage .formContainer .w50:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
}

section#loginRegisterPage .formContainer .w50:nth-child(2) h2 {
  margin-bottom: 15px;
  font-size: 27px;
  text-align: center;
}

section#loginRegisterPage .formContainer .w50:nth-child(2) .login,
section#loginRegisterPage .formContainer .w50:nth-child(2) .register {
  width: 100%;
  position: absolute;
}

section#loginRegisterPage .formContainer .w50:nth-child(2) .register {
  display: none;
}

section#loginRegisterPage .formContainer .w50:nth-child(2) form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#loginRegisterPage .formContainer .w50:nth-child(2) form .inputField {
  background: #ecf0f1;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#loginRegisterPage .formContainer .w50:nth-child(2) form .inputField input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  padding: 15px;
}

section#loginRegisterPage .formContainer .w50:nth-child(2) form .inputField input[type="date"] {
  width: 100%;
  padding-right: 15px;
}

section#loginRegisterPage .formContainer .w50:nth-child(2) form .inputField i {
  color: #7f8c8d;
  margin-left: 10px;
}

section#loginRegisterPage .formContainer .w50:nth-child(2) form button {
  background-color: #16a085;
}

/************** FOOTER CSS **************/
footer {
  background-color: #0f0f0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

footer a,
footer i,
footer p,
footer span,
footer h2 {
  color: #bdc3c7;
}

footer h2 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 22px;
}

footer h2::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 60%;
  height: 3px;
  background-color: #c0392b;
}

footer .ftContainer {
  padding: 0 20px;
}

footer .ftContainer:nth-child(1) {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

footer .ftContainer:nth-child(1) ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0;
}

footer .ftContainer:nth-child(1) ul li {
  margin-right: 15px;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 6px;
  background: #c0392b;
}

footer .ftContainer:nth-child(1) ul li i {
  font-size: 18px;
}

footer .ftContainer:nth-child(2) {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

footer .ftContainer:nth-child(2) p {
  margin-bottom: 10px;
}

footer .ftContainer:nth-child(3) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
/*# sourceMappingURL=style.css.map */